*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
}

/* Controls */
/* ---------------------------------------- */

.controls-wrapper {
    position: fixed;
    top: 1%;
    left: 1%;
    translate: -1% -1%;
    padding: 15px 12px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.err-msg {
    font-size: 1.0825rem;
    font-weight: 600;
    color: red;
}

.controls-wrapper label {
    font-size: 1.20625rem;
    font-weight: 600;
    user-select: none;
}

.rotation-input-wrapper {
    display: flex;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    font-size: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0 0 0 / 1);
    background-color: rgba(255 255 255 / 1);
    cursor: pointer;
    user-select: none;
}

.btn[disabled] {
    cursor: not-allowed;
}

.decr-btn {
    padding-block: 5px 2.5px;
    padding-inline: 7px 5px;
    border-radius: 60% 0% 0% 60%;
}

.incr-btn {
    padding-block: 5px;
    padding-inline: 5px 7px;
    border-radius: 0% 60% 60% 0%;
}

.decr-sign,
.incr-sign {
    font-size: 1.1725rem;
    font-weight: 700;
    color: rgba(0 0 0 / 1);
}

.rotation-input {
    width: 20%;
    padding: 5px 3px;
    border: 2px solid rgba(0 0 0 / 1);
    border-left: none;
    border-right: none;
    color: rgba(0 0 0 / 1);
    background-color: rgba(255 255 255 / 1);
    font-size: 1.0625rem;
    font-weight: 600;
    text-align: center;
}

.rotation-input:focus {
    background-color: lightskyblue;
    outline: transparent;
}

/* Box */
/* ---------------------------------------- */

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 2px solid;
    padding: 5px 7px;
    color: black;
    background-color: white;
    font-size: 120%;
    font-weight: 700;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.box1 {
    color: rgba(255 0 0 / 1);
    border-color: red;
}

.box2 {
    color: rgba(0 0 255 / 1);
    border-color: blue;
}

.box3 {
    color: rgba(255 255 255 / 1);
    background-color: red;
    border-color: red;
}

.rotated {
    transform-origin: center;
    transform: rotateZ(var(--rotation, 45deg));
}

.box-center {
    position: absolute;
    top: var(--y, 10);
    left: var(--x, 10);
    transform: translate(-50%, -50%);
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    opacity: .15;
    pointer-events: none;
}

.box1-center {
    background-color: red;
    opacity: .15;
}

.box2-center {
    background-color: blue;
    opacity: .15;
}

.box3-center {
    background-color: white;
    opacity: .5;
}

@media screen and (min-width: 1025px) {
    /* Hover effects */
    .controls-wrapper:has(.toggle-checkbox:checked) ~ .box1,
    .box1:hover {
        color: rgba(255 0 0 / .3);
    }

    .controls-wrapper:has(.toggle-checkbox:checked) ~ .box2,
    .box2:hover {
        color: rgba(0 0 255 / .3);
    }

    .controls-wrapper:has(.toggle-checkbox:checked) ~ .box3,
    .box3:hover {
        color: rgba(255 255 255 / .3);
    }

    .controls-wrapper:has(.toggle-checkbox:checked) ~ .box1-center,
    .box1:hover ~ .box1-center {
        opacity: 1;
    }

    .controls-wrapper:has(.toggle-checkbox:checked) ~ .box2-center,
    .box2:hover ~ .box2-center {
        opacity: 1;
    }

    .controls-wrapper:has(.toggle-checkbox:checked) ~ .box3-center,
    .box3:hover ~ .box3-center {
        opacity: 1;
    }
}