*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-size: 0;
}

/* Box */
/* ------------------------------------------------- */

.box {
    position: absolute;
    top: calc(var(--y) * 100%);
    left: calc(var(--x) * 100%);
    width: calc(var(--width) * 100%);
    height: calc(var(--height) * 100%);
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 1);
    transform-origin: center;
    transform: translate(-50%, -50%);
    cursor: none;
}

/* Box resize handle */
/* ------------------------------------------------- */

.box-resize-handle {
    position: absolute;
    top: 100%;
    left: 100%;
    width: min(20px, max(10%, 10px));
    aspect-ratio: 1 / 1;
    background-color: rgb(0 123 255 / .5);
    border: 1px solid rgb(0 0 0 / 1);
    transform-origin: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Box rotate handle */
/* ------------------------------------------------- */

.box-rotate-handle {
    position: absolute;
    top: -11%;
    left: 50%;
    width: min(15px, max(7%, 5px));
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / .65);
    transform-origin: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.box-rotate-handle::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 1px);
    left: 50%;
    width: 1px;
    height: 140%;
    background-color: rgb(0 0 0 / 1);
    transform-origin: center;
    transform: translate(-50%, 0);
    cursor: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Cursors */
/* ------------------------------------------------- */

[data-cursor] {
    position: absolute;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

[data-cursor="move"] {
    top: calc(var(--y, 20) * 1px);
    left: calc(var(--x, 20) * 1px);
}

[data-cursor="resize"] {
    top: calc(var(--y, 20) * 1px);
    left: calc(var(--x, 20) * 1px);
}

[data-cursor="rotate"] {
    top: calc(var(--y, 20) * 1px);
    left: calc(var(--x, 20) * 1px);
}