*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Box info data */
/* ------------------------------------------------- */

.box-data {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
    font-family: Consolas, monospace;
    font-size: 1.35rem;
    font-weight: 500;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

:is(
    .box-data-x,
    .box-data-y,
    .box-data-width,
    .box-data-height,
    .box-data-rotation
)::before {
    text-transform: capitalize;
    margin-right: 0.3rem;
}

.box-data-x::before {
    content: 'x:';
}

.box-data-y::before {
    content: 'y:';
}

.box-data-width::before {
    content: 'w:';
}

.box-data-height::before {
    content: 'h:';
}

.box-data-rotation::before {
    content: 'r:';
}

:is(
    .box-data-x,
    .box-data-y,
    .box-data-width,
    .box-data-height
)::after {
    content: 'px';
}

.box-data-rotation::after {
    content: '\00b0';
}

/* Canvas */
/* ------------------------------------------------- */
.canvas {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: 0;
    cursor: var(--cursor, default);
}

/* Canvas point */
/* ------------------------------------------------- */

.point {
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(var(--y, 0) * 1px);
    left: calc(var(--x, 0) * 1px);
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 1;
    background-color: var(--color, #ff0000);
    border-radius: 50%;
    pointer-events: none;
}

/* Canvas bounding rect */
/* ------------------------------------------------- */

.bounding-rect {
    position: absolute;
    transform-origin: center;
    top: calc(var(--y, 200) * 1px);
    left: calc(var(--x, 100) * 1px);
    z-index: 1;
    width: calc(var(--width, 150) * 1px);
    height: calc(var(--height, 150) * 1px);
    border: 2px dashed rgba(0 0 0 /1);
    visibility: hidden;
    pointer-events: none;
}

.bounding-rect.visible {
    visibility: visible;
}

/* Canvas line */
/* ------------------------------------------------- */

.line {
    --border-width: 1;
    position: absolute;
    transform-origin: top left;
    top: calc((var(--y, calc(200 + (var(--border-width) / 2))) + (var(--border-width) / 2)) * 1px);
    left: calc((var(--x, calc(100 + (var(--border-width) / 2))) + (var(--border-width) / 2)) * 1px);
    transform: translate(0, -50%) rotateZ(calc(var(--angle, 45) * 1deg));
    z-index: -1;
    width: calc(var(--len, 75) * 1px);
    border-top: calc(var(--border-width) * 1px) dashed rgb(0 0 0 / 1);
    pointer-events: none;
}

/* Box */
/* ------------------------------------------------- */

.box {
    --x: 100;
    --y: 200;
    --width: 150;
    --height: 150;
    --rotation: 0;
    position: absolute;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    background-color: transparent;
    border: 2px solid rgb(0 0 0 / 1);
    transform-origin: center;
    transform: rotateZ(calc(var(--rotation) * 1deg));
    cursor: var(--cursor, move);
}

/* Box resize handle */
/* ------------------------------------------------- */

.box-resize-handle {
    --width: 17px;
    position: absolute;
    top: calc(100% - (var(--width) / 2));
    left: calc(100% - (var(--width) / 2));
    width: var(--width);
    aspect-ratio: 1 / 1;
    background-color: rgb(0 123 255 / 1);
    transform-origin: center;
    border-radius: 50%;
    cursor: var(--cursor, nwse-resize);
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.box-resize-handle::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    transform-origin: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Box rotate handle */
/* ------------------------------------------------- */

.box-rotate-handle {
    --width: 12px;
    --height: 13px;
    position: absolute;
    top: calc((var(--width) + var(--height)) * -1);
    left: 50%;
    width: var(--width);
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / .65);
    transform-origin: center;
    transform: translate(-50%, 0);
    border-radius: 50%;
    cursor: var(--cursor, grab);
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.box-rotate-handle::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 290%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 1;
}

.box-rotate-handle::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--width) - 1px);
    left: calc((var(--width) / 2) - 1px);
    width: 1px;
    height: var(--height);
    background-color: rgb(0 0 0 / .65);
    transform-origin: center;
    transform: translate(-50%, 0);
    cursor: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}